body {
  background-color: #4ABDAC;
  color: #FFFFFF;
  font-family: Georgia, serif;
}
header {
  background-color: #F7B733;
  position: relative;
  height: 100px;
}

h1 {
    position: absolute;
    left: 0;
    margin-left: 2.5%;
}

h2 {
    position: absolute;
    right: 0;
    margin-right: 2.5%;
}

#navigation {
    text-align: center;   /* Allow the centering to work */
	margin: 0 auto;
}

#ulNavigation {
    min-width: 696px;
	list-style: none;
	padding-top: 20px;
}

#ulNavigation li {
    display: inline;
    padding: 20px;
}

#content {
  background-color: #DFDCE3;
  width: 75%;
  height: 250px;
  margin: auto;
  position: relative;
}

#topRight {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 45%;
    margin-right: 1.5%;
}

#topLeft {
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 45%;
    margin-left: 1.5%;
}

#bottomRight {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45%;
    height: 45%;
    margin-right: 1.5%;
}

#bottomLeft {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 45%;
    height: 45%;
    margin-left: 1.5%;
}

div {
  background-color: #FC4A1A;
}